    <div class="col s12">
      <h2 class="header">Божок Иван</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/19148975_1105766362889376_2729157320040705515_n.jpg?oh=dd6b50a2128fdfca63b6ccc1b482b9bb&oe=5A47203F">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4>Всем привет</h4>.<p>Я FrontEnd разработчик, и это мое первое Web приложение на Angular 4.</p>
          </div>
          <div class="card-action">
            <a href="https://www.facebook.com/ivan.bozhok">Мой Facebook</a>
          </div>
        </div>
      </div>
    </div>
